[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
twine = "*"
pylint = "*"

[packages]
numpy = "*"
pandas = "*"
matplotlib = "*"
scipy-stats-chisquare = "*"

[requires]
python_version = "3.6"
